<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>ZeroRAT</title>
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml" />

  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" title="Default" />

  <script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.ajax-retry.min.js"></script>

  <script type="text/javascript" src="/static/js/jquery.hotkeys-0.7.9.js"></script>
  <script type="text/javascript" src="/static/js/jquery.browser.js"></script>
  <script type="text/javascript" src="/static/js/jquery.konami.js"></script>
  <script type="text/javascript" src="/static/js/cli.js"></script>
  <script type="text/javascript" src="/static/js/xkcd_cli.js"></script>
  
 </head>
 <body> 
  <div id="pagealert" title="Press any key for next page of text"> --More-- </div>
  <div id="indicators"><span id="alt-indicator">Alt-</span><span id="ctrl-indicator">Ctrl-</span> <span id="scroll-indicator">SCR LOCK</span></div>
  <div id="screen">
   <div id="display">
    <div id="welcome">
            <div class="logo" align=center>
        <pre style="font:1em 'andale mono', 'lucida console', 'Courier New'"><b>
          <font color="#ffffff"> _____              ____      _  _____ </font>
          <font color="#dddddd">|__  /___ _ __ ___ |  _ \    / \|_   _|</font>
          <font color="#bbbbbb">  / // _ \ '__/ _ \| |_) |  / _ \ | |  </font>
          <font color="#999999"> / /|  __/ | | (_) |  _ &lt;  / ___ \| |  </font>
          <font color="#777777">/____\___|_|  \___/|_| \_\/_/   \_\_|  </font>
        </b></pre>
      </div>
    </div>
    <noscript>
      <p>Sorry, the CLI requires JavaScript to work. Please turn on JavaScript, or try the <a href="/1/">GUI Interface</a>.</p>
    </noscript>
   </div>
   <div id="bottomline">
    <span id="inputline"><span id="prompt"></span><span id="lcommand"></span><span id="cursor" >&nbsp;</span><span id="rcommand"></span></span><span id="spinner"></span>
   </div>
  </div>
  <div id="credit">Design by <a href="http://5alt.me">md5_salt</a>. XKCD CLI by <a href="https://github.com/chromakode/xkcdfools">Chromakode</a>.</div>
 </body>
</html>

